@model Blogosphere.Web.Models.DTOs.UsersViewModel
@{
    ViewData["Title"] = "List";
}
<div>
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container  d-sm-inline-flex justify-content-start">
        <h1>Users - Admin Functionality</h1>
    </div>
</div>
<div class="container py-5">
    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreateUser">
            Create User
        </button>
    </div>

    @if(Model.Users != null && Model.Users.Any())
    {
        <table class="table table-active table-hover  table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            @user.Id
                        </td>
                        <td>@user.UserName</td>
                        <td>@user.EmailAddress</td>
                        <td>
                            <form asp-action="Delete" method="post" asp-controller="AdminUsers" asp-route-id="@user.Id">
                                <button class="btn btn-danger delete-button">
                                    <i class="bi bi-trash trash-icon"></i> Delete
                                </button>
                                </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert-danger">No Users Found!!</p>
    }

</div>
</div>
<!-- Modal -->
<form method="post">
<div class="modal fade" id="modalCreateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">UserName</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" asp-for="Email" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" id="chkForUserRole" value="User"  checked disabled type="checkbox" />
                        <label class="form-check-label" for="chkForUserRole">User Role</label>
                    </div>
                    @if(User.IsInRole("SuperAdmin")){
                    <div class="form-check">
                            <input class="form-check-input" id="chkForAdminRole" asp-for="AdminRoleCheckBox" type="checkbox" />
                        <label class="form-check-label" for="chkForAdminRole">Admin Role</label>
                    </div>
                        }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</form>